<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<app-navbar></app-navbar>
</div>


<router-outlet></router-outlet>




<div class="container">
  <ul class="row">
    <li *ngFor="let class of classes" [class.grey]="class === selectedClass" (click)="setClass(class)" class="col-1" > {{class}}</li>
  </ul>
  <app-deck (messageEvent)="receiveMessage($event)"></app-deck>
<ul class="row">
  <li *ngFor = "let cardClass of cards[selectedClass]" class="col-3 text-center">
    <img [src]="'https://art.hearthstonejson.com/v1/render/latest/enUS/256x/' + cardClass.id + '.png'" alt="{{cardClass.name}}" onerror="this.onerror=null; this.src='https://art.hearthstonejson.com/v1/render/latest/enUS/256x/ART_BOT_Bundle_001.png'">
    <span class>{{cardClass.name}}</span>
    <button [disabled] = !activeDeck (click) =>add</button>
  </li>
</ul>
</div>
